                            
                            /* Header */

/* navbar */

.menus_top{
    color: #333333;
    font-family: "Poppins-Medium";
    font-size: 14px;
    margin-right: 17px !important;
    padding: 0px;
}
.menus_top:focus{
    color: #333333
}
.menus_top:hover{
    border-bottom: 6px solid #333333;
    padding-bottom: 17.2px;
    color: #333333;
}
.submenus{
    color: white;
    font-family: "Poppins-Regular";
    font-size: 14px;
    width: 238px;
    height: 60px;
    padding: 14px 23px;
}
.dropdown-menu{
    background-color: rgba(51, 51, 51, 0.91);
    border-radius: 0px;
    padding-top: 5px !important;
}
.submenus:hover{
    background-color: rgba(51, 51, 51, 0.91) !important;
    color: white;
    font-family: "Poppins-Bold";
    font-size: 16px;
}
.nav_top{
    padding-top: 77px;
}
#top_header{
    z-index: 1;
    box-shadow: 0px 6px 15px #333333;
}
.logo{
    width: 255px;
    height: 69px;
    margin: 26px 78px;
}

/* Carousel */

.carousel-item{
    z-index: -1;
}
.imagem_carousel{
    width: 1600px;
    height: 645px;
}
.carousel-indicators button{
    width: 71px !important;
    height: 13px !important;
    opacity: 1 !important;
}
.carousel-indicators .active {
    background-color: #F9963B;
}

                                /* Main */
                             
/* separadores */

.separador{
    width: 78px;
    border-bottom: 3px solid #F9963B;
    margin: auto;
    margin-bottom: 46px;
}
#separador_contactos{
    width: 78px;
    border-bottom: 3px solid #ffffff;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 132px;
}
.separador_dropdown{
    margin: 0px;
    color: white;
}

/* area bem vindo */

.bem-vindo{
    height: 669px;
    width: 1110px !important;
    margin-top: 52px;
    display: inline;
    text-align: justify;
}
h1{
    text-align: center;
    font-family: "Poppins-Regular";
    font-size: 38px;
    line-height: 58px;
    margin-bottom: 64px;
}
.p-bemvindo{
    font-family: "Poppins-Light";
    font-size: 18px;
    height: 193px;
    margin-bottom: 65px;
}
.ver_mais_1{
    width: 190px;
    height: 46px;
    border: none;
    border-radius: 25px;
    background-image: url("images/icons/VerMais1.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.ver_mais_1:hover{
    background-image: url("images/icons/VerMais1Hover.svg");
    color: white;
}

/* area destaques */

.destaques{
    height: 1250px;
    margin: auto;
}
.card{
    border: 1px solid #333333;
    border-top: none;
}
.card img{
    width: 100%;
    height: 255px;
    object-fit: cover;
}
.card_container{
    gap: 50px 25px;
}
.card-body{
    padding: 23px 20px 40px 20px;
    position: relative;
}
.ver_mais_2{
    width: 125px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-image: url("images/icons/VerMais2.svg");
    top: 50px;

}
.ver_mais_2:hover{
    background-image: url("images/icons/VerMais2Hover.svg");
    color: white;
}
.btn_container{
    position: absolute;
    left: 110px;
    top: 190px;
}

                            /* footer */

/* contactos */

#titulo_contactos{
    color: white;
    font-size: 43px;
    margin-bottom: 88px;
}

#contactos{
    background-image: url("images/FooterContactos.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    height: 565px;
    margin-top: 50px;
}
.icon_contactos{
    background-color: rgba(0, 0, 0, 0);
    width: 75px;
    height: 75px;
}
.texto_contactos{
    margin-top: 47px;
    color: white;
    font-family: "Poppins-Regular";
    font-size: 24px;
}

/* mapa */

.mapa{
    background-image: url("images/mapa.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1600px;
    height: 513px;
    margin: 30px 0px;
}

/* bottom footer */

#bottom_footer{
    background-image: url("images/FooterFacebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    height: 476px;
    padding-top: 85px;
}
#facebook{
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
}
.texto_facebook{
    color: white;
    font-family: "Poppins-Regular";
    font-size: 29px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.separador_footer{
    border: 1px solid white;
    width: 100%;
    margin-bottom: 30px;
}
.nav_bot{
    display: flex;
    justify-content: end;
    margin-right: 90px;
}
.menus_bot{
    color: #ffffff;
    font-family: "Poppins-Regular";
    font-size: 15px;
    margin-right: 17px !important;
    padding: 0px;
    margin-bottom: 40px;
}
.menus_bot:hover{
    color: #FC8B3B;
}
.copyright{
    font-family: "Poppins-Regular";
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 250px;
}
.copyright_text{
    text-decoration: none;
    color: white;
}