body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center{
    text-align: center;
}
.aqua{
    background-color: aquamarine;
}
.purple{
    background-color: blueviolet;
    color: violet;
    border: 3px solid red;
}
.coral{
    background-color: coral;
    border: 3px dotted aqua;
    border-radius: 10px;
}