
/* Classes briefing */

.t1{
    font-family: "plex sans bold";
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(77, 77, 77);
}
p{
    font-family: "plex sans light";
    font-size: 13px;
    color: rgb(77, 77, 77);
    text-align: left;
}
.banner-title{
    font-family: "plex sans light";
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    color: rgb(77, 77, 77); 
}
.titulo{
    font-family: "plex sans bold";
    font-size: 35px;
    text-transform: uppercase;
    color: rgb(77, 77, 77);
}
.menus{
    font-family: "lato";
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(77, 77, 77);
    
}
.menus:hover{
    color: rgb(180, 125, 51);
}
.submenus{
    font-family: "plex sans";
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(77, 77, 77);
}
.submenus:hover{
    color: rgb(177, 126, 59);
}

/* Gerais */

body{
    overflow-x: hidden;
    padding-bottom: 70px;
}
.subtitulos{
    color: rgb(177, 126, 59);
    font-size: 16px;
}
nav{
    padding-top: 52px;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.carousel-image{
    height: 750px;
}
.dropdown-menu{
    border-radius: 0px;
    padding: 25px 5px 35px ;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.carousel-indicators button {
    width: 20px!important;
    height: 20px!important;
    position: relative;
    right: 400px;
    bottom: 80px;
    border-radius: 50%;
    border: 1px solid rgb(112, 112, 112)!important;
    background-color: rgba(0, 0, 0, 0)!important;
}
.carousel-indicators .active {
    background-image: url("images/SVG/bolabanner2.svg");
}    
.carousel-item img{
    width: 1280px;
    height: 730px;
}
hr{
    border: 1px solid rgb(112, 112, 112);
    margin: 15px 55px;
}
.destaques{
    position: relative;
    bottom: 140px;
}
.button{
    width: 120px;
    height: 30px;
    border: none;
    background-image: url("images/SVG/sabermais1.svg");
}
.button:hover{
    background-image: url("images/SVG/sabermais2.svg");
}
.bemvindo{
    background-color: white;
    width: 1190px;
    height: 538px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 15px ;
    position: relative;
    top: -45px;
    left: 30px;
}
#tony{
    margin: 60px;
    height: 420px;
}
#t-bemvindo{
    padding-top: 80px;
}
#p-bemvindo{
    margin-top: 30px;
}
.card{
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
}
.separador-bot{
     margin: 27px 50px;
}
.menus-bot{
    margin: 0px 20px;
}
#insta{
    width: 37px;
    height: 37px;
    background-image: url("images/SVG/instagram1.svg");
    margin: 30px 20px 0px 0px;
}
#insta:hover{
    cursor: pointer;
    background-image: url("images/SVG/instagram2.svg");
}
#facebook{
    width: 37px;
    height: 37px;
    background-image: url("images/SVG/facebook1.svg");
    margin: 30px 20px 0px 0px;
}
#facebook:hover{
    cursor: pointer;
    background-image: url("images/SVG/facebook2.svg");
}
#linkedin{
    width: 37px;
    height: 37px;
    background-image: url("images/SVG/linkedin1.svg");
    margin: 30px 20px 0px 0px;
}
#linkedin:hover{
    cursor: pointer;
    background-image: url("images/SVG/linkedin2.svg");
}
.livro-reclamacoes{
    margin-top: 58px;
}
.ralc{
    margin-top: 58px;
    padding-left: 48px;
}
.ralc:hover, .livro-reclamacoes:hover{
    cursor: pointer;
}
.copyright{
    margin-top: 88px;
}