body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
}
body > div {
    border: 5px solid black;
    width: 600px;
    height: 200px;
    padding: 15px;
    margin: 30px auto;
    font-size: 20px;
    background-color: lightgreen;
}
div > div{
    border: 2px solid black;
    text-align: center;
    background-color: coral;
}
#pai_1 div{
    display: block;
}
#pai_2 div{
    display: inline;
}
#pai_3 div{
    display: inline-block;
    height: 60px;
    width: 150px;
}
#pai_4 div{
    display: none;
}
