body{
    background-image: url("porto_01.jpg");
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    background-color: blue;
    color: white;
}
p{
    border: 10px groove gold;
    background-color: red;
    text-align: justify;
}